<!-- footer.component.html -->

<footer>
  <div class="footer-content">
    <p>&copy; 2024 Amir Shahid Khan. All rights reserved.</p>
    <!-- <div class="social-links">
      <a href="#" target="_blank" title="Facebook" aria-label="Facebook">
        <img src="assets/icons/facebook.svg" alt="Facebook Icon" />
      </a>
      <a href="#" target="_blank" title="Twitter" aria-label="Twitter">
        <img src="assets/icons/twitter.svg" alt="Twitter Icon" />
      </a>
      <a href="#" target="_blank" title="Instagram" aria-label="Instagram">
        <img src="assets/icons/instagram.svg" alt="Instagram Icon" />
      </a>
      <a href="#" target="_blank" title="LinkedIn" aria-label="LinkedIn">
        <img src="assets/icons/linkedin.svg" alt="LinkedIn Icon" />
      </a>
    </div> -->
  </div>
</footer>
